---
import Layout from '../layouts/Layout.astro';
import LinkList from "../components/LinkList.astro";
import Background from "../components/Background.astro";
import Header from "../components/Header.astro";
import {getUsers} from "../services/users";
import {getLinks} from "../services/links";

const userData = await getUsers()
let linkListItems = await getLinks()
---

<Layout title="Links">
	<Background />
	<main class="m-auto p-10 w-full h-full max-w-xl text-white grid gap-8 md:content-center">
		<Header {userData} />
		<LinkList {linkListItems}></LinkList>
	</main>
</Layout>

