---
import type {LinkListItem as LinkListItemType} from "../types/linklistitem.d.ts";

const {
    icon,
    id,
    title,
    url
}: LinkListItemType = Astro.props.linkListItem
---
<li class="flex
           justify-center
           align-middle
           no-underline
           transition-all
           duration-200
           ease-in-out
           ">
    <a href={url}
       target="_blank"
       class="no-underline
           w-full flex justify-center items-center border-2
           overflow-hidden
           rounded-[0.75rem]
           min-h-16
           p-0
           hover:invert(0.5)
           transition-all
           hover:scale-105
           hover:opacity-100
           text-white
           text-xl
           opacity-75
           "
    >
        <img class=`size-6 flex-none ml-6 mr-6 object-fill` src={icon} alt="link icon"/>
        <p class="flex-auto text-center mr-12">{title}</p>
    </a>
</li>